<h1>School of Arts</h1>
<h2>Welcome Back</h2>
    <h3>Login</h3>
        <form method = "POST" action= "/login"> 
            Username: <input type="text" name = "username">
            Password: <input type = "password" name = "password">
            <input type = "submit" value= "Login">
        </form>