<h1>School of Arts</h1>
<h2>Welcome New Teacher</h2>
    <h3>Please Sign Up To Add Courses To The Semester Roster</h3>
        <form method = "POST" action= "/signup"> 
            Username: <input type="text" name = "username">
            <br>
            <br>
            Email: <input type"email" name = "email">
            <br>
            <br>
            Password: <input type= "password" name = "password">
            <br>
            <br>
            <input type = "submit" value= "Sign Up">
        </form>