<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to The School of Arts!</h2>

    <div class="content">
      <p>Hello teachers. Here at this school we want to create the best courses we can for our students. Teachers make your courses 
      informational and exciting. To add your courses login and add a cute description about your course. If you do not have a log 
      in create an account by signing up. What material the students will need. What the students will be learning. Where your 
      class will take place and at what time. Include the link to your syllabus as well. Thank you teachers and I hope you have a 
      good semester!</p>
    </div>

    <div class="sidebar">
      <h3>Login or Sign Up</h3>
      <ul>
        <a href= "/login"> Login </a>
        <br>
        <br>
        <a href= "/signup"> Signup </a>
      </ul>
    </div>

  </div>
</div>
